* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color:#000;
}
.wrapper {
  width:1200px;
  margin:0 auto;
  background-color: rgb(212, 209, 209);
}

.menu-box-item img {
  width:200px;
}

.drawer-menu-button {
  width:200px;
  height:70px;
  border:none;
  font-size: 24px;
  color:#fff;
  background-color: rgb(52, 76, 207);
  border-radius: 10px;
  padding:0 auto;
  margin:20px
}

.menu-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-box {
  width:90%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin:0 auto;
  margin-top:10px;
}

.menu-box-list {
  width:90%;
  display: flex;
  margin-bottom:30px;
}

.menu-box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:300px;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #adacac;
  background-color: #fff;
  align-items: center;
}

.menu-box-item:last-child {
  margin-right:0;
}

.menu-box-item a {
  transition: opacity 300ms ease-in-out                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ;
}

.menu-box-item a:hover {
 opacity:.7; 
}

.menu-box-item img {
  object-fit: cover;
}

.menu-box-text {
  width: 90%;
  margin: 30px auto;
}