* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:#333;
}

.wrapper {
  max-width:1200px;
  margin: 0 auto;
  background-color: #e5e5e5;
  /* 마진상쇄 현상 */
  /* 블록요소 두 개가 겹칠 때 발생하는 일종의 버그 */
  /* 사이에 1px이라도 간격이 생기면 상쇄현상이 사라진다 */
  border:1px solid transparent;
}

.title {
  width:250px;
  padding:20px;
  background-color: #06c;
  border-radius: 10px;
  color:#fff;
  text-align: center;
  margin:30px 0 10px 10px;
}

.menu-box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-box {
  width:calc((100% - 80px) / 4);
  margin:20px 10px;
  padding:10px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 9px 12px rgb(0, 0, 0, 0.1);
  transition: transform 400ms ease-in-out;
}

.menu-box:hover {
  transform: scale(1.04);
  box-shadow: 0 15px 15px rgb(0, 0, 0, 0.08);
}

.menu-img {
  position:relative;
  width:100%;
  height:200px;
  overflow: hidden;
}

.menu-img img {
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter:blur(2px);
  transition: filter 400ms ease-in-out;
}

.menu-box:hover .menu-img img {
  filter:blur(0);
}

.menu-title {
  display:block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 20px;
  font-weight: bold;
}

.menu-info {
  display:flex;
  justify-content: space-between;
  padding: 10px 0;
}

.date,
.count {
  font-size: 14px;
  color:#666;
}

@media screen and (max-width:1200px) {
  .menu-box {
    width:calc((100% - 80px) / 3);
  }
}

@media screen and (max-width:768px) {
  .menu-box {
    width:calc((100% - 80px) / 2);
  }
}

@media screen and (max-width:560px) {
  .menu-box {
    width:calc((100% - 80px) / 1);
  }
}