* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

li {
  list-style:none;
}

a {
  text-decoration: none;
  color:#000;
}

.visually-hidden {
  display: none;
}

.sm-only {
  display:none;
}

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  width:60px;
  margin-left:20px;
}

.gnb-list {
  display:flex;
  justify-content: space-between;
  width: 300px;
  margin-right:40px;
}

.gnb-item a {
  font-size: 16px;
  font-weight: 700;
  transition:color 300ms ease-in-out;
}

.gnb-item a:hover {
  color:red;
}

.background {
  height: 500px;
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lnb-wrapper {
  position:sticky;
  top:0;
}

.lnb-list {
  display:flex;
  background-color: red;
  padding:20px 0;
  border-top:2px solid yellow;
}

.lnb-item a {
  color:#fff;
  padding-right:20px;
}

.lnb-item a:last-child a {
  padding-right:0;
}

.lnb-item:first-child {
  margin-left:20px;
}

.post-card {
  width:220px;
  height:250px;
  border-radius: 20px;
  text-align: center;
  /* background-color: red; */
  box-shadow: 5px 5px 5px #999;
}

.post-card img {
  width:100%;
  height:60%;
  border-radius: 20px;
}