.overlay {
  width:100%;
  height:100vh;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.5);
  /* display:none하고 차이점은 공간을 차지한다 */
  /* visibility: hidden; */
  /* 0은 투명 / 1은 불투명 */
  /* opacity: 0; */
  /* ms / s 둘 다 가능 */
  transition: all 1s;
}

.overlay.open-modal {
  visibility: visible;
  opacity: 1;
  
}

.login-box {
  max-width:800px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  padding:30px;
}

.form-control {
  margin:10px 0;
}

p {
  font-size: 13px;
  color:red;
  /* display:none; */
}